* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 300px;
}

section{
  font-size: 20px;
  text-align: center;
  background-color: gainsboro;
}

header {
  padding: 60px;
  text-align: center;
  background: #8d8a8a;
  color: #9794cc;
  font-size: 40px;
  image-resolution: ;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

li {
  display: inline;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
}

ul {
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 40px;
}

.column:hover {
  box-shadow: 0 16px 32px 0 rgb(0, 0, 0)
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main-project {
  display: inline-flexbox;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: rgba(53, 53, 49, 0.625);
  padding: 40px;
}

.main-project:hover {
    box-shadow: 0 16px 32px 0 rgb(0, 0, 0)
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    padding: 40px;
  }
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 10px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #683377;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #b013ff;
}

.container {
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: #0704032c;
  padding: 20px;
  width: 400px
  
}
